@charset "UTF-8";
/* CSS Document */
body {
	background-color: #E5D89C;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin:0 10%;
}
h2 {
	color:#64290B;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	border-bottom: 1px solid #050B30;
	margin-bottom: 10% 20%;
	padding-bottom: 30px;
	
}
p{
	color: #000000;
}
img {
	margin-bottom: 30px;
}
