@charset "UTF-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url("../img/burgers.jpg")
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrapper {
	display:block;
	width:1440 px;
	margin:left;
	font-family: "sans-serif", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	overflow:hidden;
	/*background-color: #FFFFFF;*/
}
header {
	position:relative;
	width:1360 px;
	/*height:400 px;*/
	/*width: 3000 px;*/
	margin:0 auto;
	margin-left: 40 px;
	background-color: #FFFFFF;
	overflow:hidden;
	position:relative;
	text-align:center;
}
#logo {
	width:270 px;
	margin-right:60 px;
	float:left;
	margin-left:60 px;
}
#navwrapper {
	width:750 px;
	height:300 px;
	background-color: #FFFFFF;
	margin:0 auto;
	float:left;
}
/*#nav {
	width:1000 px;
	margin-left:100px;
	background-color: #4719b2;
	margin:0 auto;
}*/
#review {
	width:340px;
	margin-left: 40 px;
}
main {
	width:1440 px;
}
#center {
	width:1440 px;
}
.title {
	background-color: #4719b2;
	clear:both;
	width:1440 px;
	text-align:center;
}
#menu {
	background-color: #FFFFFF;
	width:1440 px;
	height:1440 px;
	
}
.column {
	width:400 px;
	margin-left:80 px;
	margin:0 auto;
	float:left;
	clear:both;
	display:inline;
}
.column2 {
	width:400 px;
	margin-left:80px;
	margin:0 auto;
	float:left;
	clear:both;
	display:inline;
}
/*.column3 {
	width:400 px;
	margin-left:80px;
	margin:0 auto;
	clear:both;*/
}
.navigation {
	width:700 px;
	margin-left:25px;
	background-color: #4719b2;
	text-align:center;
	float:left;
}	
.navigation li {
	display:inline;
	float: left;
	color: #FFFFFF;
	font-size: 42 px;
	margin-left: 25 px;
	margin-right:25 px;
}
.foodlist {
	width:400 px;
	font-size:20 px;
	color: #4719b2;
	margin-right: 40px;
	float:left;
	display:inline;
	
}
.moreinfo {
	height: 50px;
	background-color: #FFFFFF;
	text-align:center;
	clear:both;
}
footer {
	background-color: #4719b2;
	padding-top: 10px;
	padding-bottom: 10px;
	width:auto;
	margin:0 auto;
}
h1 {
	font-size: 34 px;
	color: #FFFFFF;
}
h2 {
	font-size: 42 px;
	color: #FFFFFF;
	padding-top: 34 px;
	padding-bottom: 34 px;
	margin: auto;
}
h3 {
	font-size: 32 px;
	font-weight: bold;
	color: #4719b2;
	border-bottom: solid 2px #4719b2;
}
h4 {
	font-size: 24 px;
	color: #000000;
}
h5 {
	font-size: 16 px;
	color: #CBCDD3;
}
p {
	font-size: 24 px;
	color: #4719b2;
	text-align:center;
}
